{% extends "base.html" %}
{% load static %}
{% block contenido %}
     <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Starter Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{%url "inicio"%}">Home</a></li>
            <li class="current">Starter Page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Inicio de Sesión Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Inicio de Sesión</h2>
        <p>Esta es la página de inicio de sesión para administrar la página</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <h2>Iniciar Sesión</h2>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type ="submit">Iniciar Sesión</button>
      </div>

    </section><!-- /Inicio de Sesión Section -->

 {% endblock contenido %}