{% extends "base.html" %}
{% load static %}
{% block contenido %}
<!-- Page Title -->
<div class="page-title dark-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Panel de Administración</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{% url 'inicio' %}">Home</a></li>
        <li class="current">Panel de Administración</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<!-- Starter Section Section -->
<section id="starter-section" class="starter-section section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Formulario para nuevos posteos</h2>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up">
    <div class="col-lg-8 mx-auto">
      <form action="." method="post" enctype="multipart/form-data" class="php-email-form" data-aos="fade-up"
        data-aos-delay="200">
        {% csrf_token %}
        <div class="row gy-4">

          <div class="col-md-12">
            <label for="titulo-field" class="pb-2">Título</label>
            <input type="text" id="titulo-field" name="titulo" class="form-control" placeholder="Título del post"
              required>
          </div>

          <div class="col-md-12">
            <label for="descripcion-field" class="pb-2">Descripción</label>
            <textarea id="descripcion-field" name="descripcion" class="form-control" rows="5"
              placeholder="Descripción del post" required></textarea>
          </div>

          <div class="col-md-12">
            <label for="categoria-field" class="pb-2">Categoría</label>
            <select name="categoria" id="categoria-field" class="form-control" required>
              <option value="" disabled selected>Seleccione una categoría</option>
              <option value="web">Web</option>
              <option value="django">Django</option>
              <option value="backend">Backend</option>
            </select>
          </div>

          <div class="col-md-12">
            <label for="imagenes-field" class="pb-2">Seleccionar archivos</label>
            <input type="file" id="imagenes-field" name="imagenes" class="form-control" multiple>
          </div>

          <div class="col-md-12">
            <label for="fecha-field" class="pb-2">Fecha</label>
            <input type="date" id="fecha-field" name="fecha" class="form-control">
          </div>

          <div class="col-md-12 text-center">
            <button type="submit">Registrar</button>
          </div>

        </div>
      </form>
    </div>
  </div>

</section><!-- /Starter Section Section -->

{% endblock contenido %}